In [2]:
import numpy as np
import pandas as pd

## how to set values

In [33]:
df = pd.DataFrame({'capture_id': [1, 1, 1, 2, 2, 2, 3, 3, 3],
                   'cluster_id': [0, 1, 2, 0, 1, 2, 0, 1, 2],
                   'cluster_size': [2, 3, 4, 4, 3, 2, 3, 3, 3]}).set_index(['capture_id', 'cluster_id'])
df['label'] = 'unlabeled'

In [34]:
df

                       cluster_size      label
capture_id cluster_id
1          0                      2  unlabeled
           1                      3  unlabeled
           2                      4  unlabeled
2          0                      4  unlabeled
           1                      3  unlabeled
           2                      2  unlabeled
3          0                      3  unlabeled
           1                      3  unlabeled
           2                      3  unlabeled

### via index

In [35]:
df.loc[(1, 2), 'label'] = 'foo'

### via set_value

In [37]:
df.set_value((1, 2), 'label', 'bar')

                       cluster_size      label
capture_id cluster_id
1          0                      2  unlabeled
           1                      3  unlabeled
           2                      4        bar
2          0                      4  unlabeled
           1                      3  unlabeled
           2                      2  unlabeled
3          0                      3  unlabeled
           1                      3  unlabeled
           2                      3  unlabeled