In [2]:
import numpy as np
import pandas as pd

## how to set values

In [12]:
df = pd.DataFrame({'item_id': [1, 1, 1, 2, 2, 2, 3, 3, 3],
                   'cluster_id': [0, 1, 2, 0, 1, 2, 0, 1, 2],
                   'cluster_size': [2, 3, 4, 4, 3, 2, 3, 3, 3]}).set_index(['item_id', 'cluster_id'])
df['label'] = 'unlabeled'

In [13]:
df

                    cluster_size      label
item_id cluster_id
1       0                      2  unlabeled
        1                      3  unlabeled
        2                      4  unlabeled
2       0                      4  unlabeled
        1                      3  unlabeled
        2                      2  unlabeled
3       0                      3  unlabeled
        1                      3  unlabeled
        2                      3  unlabeled

### via index

In [15]:
df.loc[(1, 2), 'label'] = 'foo'
df.loc[(1, 2), 'label']

'foo'

### via set_value

In [16]:
df.set_value((1, 2), 'label', 'bar')
df.loc[(1, 2), 'label']

'bar'